<div class="container">
    <%= render 'shared/search'%>
    <p>Foram encontradas <b>12</b>   
        novas oportunidades para você.
    </p>
    <p>
        Para receber novas notificações relacionadas a esta vaga,
        <a href="#">clique aqui</a>
    </p>
    <div class="row">
        <%= render 'shared/job_container'%>
        <%= render 'shared/job_container'%>
        <%= render 'shared/job_container'%>
        <%= render 'shared/job_container'%>
        <%= render 'shared/job_container'%>
    </div>
</div>
</div>